<a href="https://colab.research.google.com/github/jukaLST/techdataanalysis/blob/main/JO_task_12_12_24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Write a lambda function to calculate the cube of a number over a [1,2,3,4]
numbers = [1, 2, 3, 4]
cubes = list(map(lambda x: x**3, numbers))
print("Cubes:", cubes)

Cubes: [1, 8, 27, 64]

In [2]:
# Create a Pandas Series and use a lambda function with .apply()
import pandas as pd

series = pd.Series(range(1, 11))
new_series = series.apply(lambda x: x**2 if x > 5 else x)
print("Original Series:")
print(series)
print("Modified Series:")
print(new_series)

Original Series:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
Modified Series:
0      1
1      2
2      3
3      4
4      5
5     36
6     49
7     64
8     81
9    100
dtype: int64

In [3]:
# Create a DataFrame and use a lambda function with .apply()
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [17, 22, 15, 18],
    'City': ['Warsaw', 'Berlin', 'Paris', 'Madrid']
}
dataframe = pd.DataFrame(data)
dataframe["Is_Minor"] = dataframe["Age"].apply(lambda x: "Yes" if x < 18 else "No")
print("DataFrame with Is_Minor column:")
print(dataframe)

DataFrame with Is_Minor column:
      Name  Age    City Is_Minor
0    Alice   17  Warsaw      Yes
1      Bob   22  Berlin       No
2  Charlie   15   Paris      Yes
3    David   18  Madrid       No